{
  "bridgeid": "00:17:88:5E:D3:02",
  "buttonsleep": 100,
  "upnpconfigaddress": "0.0.0.0",
  "serverport": 8080,
  "upnpresponseport": 50000,
  "veraaddress": "",
  "farenheit": false,
  "configfile": "/config/habridge.config",
  "numberofdevices": 1,
  "devices": [
    {
      "name": "Desk Lamp",
      "deviceType": "switch",
      "uniqueid": "dl-001",
      "onUrl": [
        {
          "item": "http://nginx:8080/device/desk-lamp/on",
          "type": "httpDevice"
        }
      ],
      "offUrl": [
        {
          "item": "http://nginx:8080/device/desk-lamp/off",
          "type": "httpDevice"
        }
      ],
      "contentBody": "",
      "headers": [],
      "httpVerb": null,
      "isRepeat": false,
      "targetDevice": ""
    }
  ]
}