{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -36.7482567,
    "longitude": 144.2581793,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Australia/Sydney",
    "external_url": null,
    "internal_url": null,
    "currency": "AUD",
    "country": "AU",
    "language": "en",
    "radius": 100
  }
}